.about__text {
  background: #4f46e5;
  background: linear-gradient(to bottom, rgb(79, 70, 229) 60%, #000000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px rgb(7, 1, 123);  */
}

.about__container {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parent__grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 400px);
  grid-template-rows: repeat(3, 400px);
  gap: 2rem;
}

.grid__containers__about {
  border-radius: 8px;
  border: 2px solid white;
}

.grid__containers__about:first-child {
  background-image: url("./acet.webp");
  background-size: cover;
  background-position: center;
}

.grid__containers__about:nth-child(2) {
  background-image: url("./sah.jpg");
  background-size: cover;
  background-position: center;
}

.grid__containers__about:last-child {
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
}
