.reveal,
.reveal-x,
.reveal-events {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.5s ease;
}
.reveal-2 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.7s ease;
}

.reveal-3 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.75s ease;
}

.reveal-4 {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 0.7s ease;
}

.reveal-5 {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 0.7s ease;
}

.reveal-7 {
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: all 0.7s ease;
}

.reveal-8 {
  position: relative;
  transform: scale(0.5) rotate(-15deg);
  opacity: 0;
  transition: all 0.7s ease;
}

.reveal-9 {
  position: relative;
  transform: scale(0.5) rotate(15deg);
  opacity: 0;
  transition: all 0.7s ease;
}

.reveal-10 {
  position: relative;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: all 0.7s ease;
}

.reveal.active,
.reveal-events.active-events,
.reveal-2.active-2,
.reveal-3.active-3,
.reveal-x.active-x {
  transform: translateY(0px);
  opacity: 1;
}

.reveal-7.active-7 {
  transform: scale(1);
  opacity: 1;
}

.reveal-5.active-5,
.reveal-4.active-4 {
  transform: translateX(0px);
  opacity: 1;
}

.reveal-8.active-8,
.reveal-9.active-9 {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

.reveal-10.active-10 {
  transform: rotate3d(0, 1, 0, 0deg);
  opacity: 1;
}

.new__time {
  transition: all 0.23s ease-in-out !important;
}
