@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  /* --clr-rose: rgb(225, 29, 72); */
  --clr-rose: #e1406e;
  --clr-indigo: rgb(79, 70, 229);

  /* Sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em+0.5rem);
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  overflow-x: hidden;
}

span {
  font-weight: 800;
  /* font-style: italic; */
  font-size: 23px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-rose);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--clr-dark);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(225, 29, 72, 0.8);
  transition: all 0.9s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(79, 70, 229, 0.8);
}

.main__background h1 {
  font-size: 2rem;
  text-align: center;
}

.main__background h3 {
  margin: 0.3rem 0;
  text-align: center;
}

.main__background li {
  list-style-type: circle;
}

.btn__container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main__background hr {
  margin-bottom: 1rem;
  opacity: 0.3;
}

.main__background ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__background > header {
  padding: 1rem 0;
  background: var(--clr-dark);
  animation: moveGradient 10s ease infinite;
  backdrop-filter: blur(1px);
}

.main__background > section {
  padding: 0 25px;
}

body {
  background-color: red;
  background: radial-gradient(#ffffff59 1%, #070a13 11%);
  width: 100vw;
  background-size: 20px 20px;
  animation: animateBackground 220s infinite;
  z-index: -1;
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 350px 350px;
  }
  100% {
    background-position: 0 0;
  }
}

#root {
  background: rgba(0, 0, 0, 0.55);
}
